
  
  /* **********.match-center-header************ */
  .match-center-header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #2c1b6b;
    color: white;
    background-size: 100% 100%;
  }
  .mtc-left , .mtc-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
  .teamLogo {
    width: 65px;
    height: 65px;
  }
  
  .teamLogo img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .mtc-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  
  .match-info {
    font-size: 11px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  }
  .status_note {
    font-size: 14px;
    /* font-size: 20px; */
    font-weight: 800;
    line-height: 34px;
    text-align: center;
  }
  .flexed-score {
    width: 75%;
    align-items: center;
    justify-content: space-evenly;
    /* width: 70%; */
    display: flex;
    text-align: center;
    
  }
  .teamAscoreFull ,.teamBscoreFull{
      width: 35%;
  }
  .flexed-score img{
      width: 11%;
  }
  .teamaScore ,.teambScore {
      font-size: 20px;  
      font-weight: 800;
      line-height: 1.5;
  }
  .teamaOver ,.teambOver{
      font-size: 13px;
      font-weight: 600;
  }
  
  .live-match-section hr{
      margin: 3px 0;
      width: 100%;
  }
  
  .venue {
      text-align: center;
      font-size: 12px;
      font-weight: 800;
      line-height: 34px;
      font-family: Inter,sans-serif!important;
  }