table,tbody{
    width: 100%!important;
}

tr{
    width: 100%!important;

    background: #eee;
    /* width: 100%!important; */
}
.row-batsman{
        width: 100%!important;

}

.header1{
    color: #fff !important;
    background: #402C8B !important;
}
th,td{
    padding: 10px 1.5% !important;
    
}

td{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.how_out{
    /* background: white; */
    opacity: .6;
    font-weight: 500;
}
.col-player{
    text-align: left;
    word-break: keep-all;
}
.tr :nth-child(1),
.tr :nth-child(2),
.tr :nth-child(3),
.tr :nth-child(4),
.tr :nth-child(5),
.tr :nth-child(6){
    width: 40px;
    /* padding-left: 0; */
    text-align: right;
}
.tr :nth-child(7){
float: right;
background: #000;
}

.th :nth-child(1),
.th :nth-child(2),
.th :nth-child(3),
.th :nth-child(4),
.th :nth-child(5),
.th :nth-child(6){
    width: 40px;
    /* padding-left: 0; */
    text-align: right;
    
}