.footer-section {
  background: #ddd;
  padding-top: 30px;
  /* height: 300px; */
  /* position: absolute;
  left: 0;
  right: 0; */
  
}
.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.footer-top img {
  max-width: 250px;
  width: 100%;
  line-height: 0;
  margin-bottom: 30px;
  text-align: center;
}
.footer-section .footer-box {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.footer-section .footer-link {
  /* -webkit-border-radius: 50%; */
  border-radius: 50%;
  border: 2px solid #888;
  color: #888 !important;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  /* margin-left: 10px; */
  padding-top: 9px;
  text-align: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-bottom {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 20px 0 20px;
  width: 100%;
}

.footer-bottom ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px !important;
  padding: 0;
  gap: 10px;
}
.footer-bottom li {
  display: inline-block;
  /* margin: 0 0 10px 15px; */
  color: #888;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1;
}

.copyright {
  color: #888;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  margin-bottom: 0 !important;
  padding: 20px;
}
.copyright p{
    margin-bottom: 0;
}
